body {
  margin: 0;
}
.container {
  border: 6px solid black;
  display: flex;
}
.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  /*
    shortcut to have all three flex-grow, flex-shrink, flex-basis in one property
  */
  flex: 0 1 auto;
}
.item-1 {
  background-color: #b4bf35;
  flex: 0 5%;
}
.item-2 {
  background-color: #b95f21;
  flex: 2;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #1c4c56;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}
